    <section id="about">
      <div class="container pt-7 pb-15">
        <div class="card">
          <div class="card-body">
            <div class="row gx-md-8 gx-xl-10 gy-8">
              <div class="col-lg-5">
                <figure class="rounded"><img class="img-fluid" src="@@webRoot/assets/img/aboutme/daanjansen.jpg"
                    srcset="@@webRoot/assets/img/aboutme/daanjansen.jpg 2x" alt=""></figure>
              </div>
              <!-- /column -->
              <div class="col-lg-7">
                <h2 class="mb-3" data-i18n="aboutTitle"></h2>
                <p class="lead mb-7" data-i18n="aboutText"></p>
                <div class="row">
                  <div class="col-lg-6">
                    <h3 class="h4 mb-3" data-i18n="aboutSubTitle"></h3>
                    <div>
                        <span class="dropcap">I</span>
                        <p data-i18n="aboutSubText"></p>
                    </div>
                    
                  </div>
                  <!-- /column -->
                  <div class="col-lg-6">
                    <h3 class="h4 mb-3" data-i18n="aboutMaterialsTitle"></h3>
                    <ul class="unordered-list bullet-primary">
                      <li>Canon Eos 5R Mark II</li>
                      <li>DJI mini4 pro drone</li>
                      <li>DJI Ronin MX 3-Axis Gimbal Stabilizer</li>
                      <li>Canon EF 70-200MM 2.8 Lens</li>
                      <li>Canon EF 24-70mm F2.8</li>
                      <li>Canon EF 17-40mm 1.4  F/</li>
                    </ul>
                  </div>
                  <!-- /column -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!--/.card-body -->
        </div>
        <!--/.card -->
      </div>
    </section>
