    <section id="about">
      <div class="container pt-7 pb-15">
        <div class="card">
          <div class="card-body">
            <div class="row gx-md-8 gx-xl-10 gy-8">
              <div class="col-lg-5">
                <figure class="rounded"><img class="img-fluid" src="@@webRoot/assets/img/aboutme/daanjansen.jpg"
                    srcset="@@webRoot/assets/img/aboutme/daanjansen.jpg 2x" alt=""></figure>
              </div>
              <!-- /column -->
              <div class="col-lg-7">
                <h2 class="mb-3">Life is an adventure. Capture every minute.</h2>
                <p class="lead mb-7">Er schuilt iets magisch in een bruiloft.
                  De emoties, het gelach, de gelukkige tranen en al die unieke momenten maken elke viering bijzonder.
                  Het vastleggen van die pure, oprechte gevoelens is precies waarom ik doe wat ik doe.
                  Beelden creëren die de vreugde terugbrengen en je telkens opnieuw laten wegdromen naar jullie dag, dat
                  is mijn passie.
                </p>
                <div class="row">
                  <div class="col-lg-6">
                    <h3 class="h4 mb-3">Een beetje over mij</h3>
                    <p>
                      <span class="dropcap">I</span>
                     ’m Daan — a wedding photographer based in Belgium with a passion for capturing real emotions and unforgettable 
                     moments. I may be new to wedding photography, but I’ve quickly fallen in love with the energy, joy, and emotion that 
                     fill every wedding day. For me, photography is all about people — the laughter, the happy tears, 
                     the quiet looks that say everything. I don’t believe in stiff poses or forced smiles; 
                     I want my couples to feel relaxed, have fun, and just be themselves while I document it all. While Belgium is home, 
                     I’m excited to bring my camera (and curiosity) across Europe, telling love stories wherever they happen. 
                     Every wedding is unique, and I can’t wait to capture yours — with honesty, warmth, and a little bit of adventure.
                    </p>
                  </div>
                  <!-- /column -->
                  <div class="col-lg-6">
                    <h3 class="h4 mb-3">Mijn materialen</h3>
                    <ul class="unordered-list bullet-primary">
                      <li>Canon Eos 5D Mark IV 24-105mm</li>
                      <li>DJI mini4 pro drone</li>
                      <li>DJI Ronin MX 3-Axis Gimbal Stabilizer</li>
                      <li>Wondlan Wer01 Slider Time Lapse</li>
                      <li>Canon EF100-400MM Lens</li>
                      <li>Nikon D5 24-70mm F2.8</li>
                      <li>Nikon Af-S 24Mm F/1.4G Ed Lens</li>
                      <li>Wondlan Sniper Sn 2.1 Wf Wireless Dslr</li>
                    </ul>
                  </div>
                  <!-- /column -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!--/.card-body -->
        </div>
        <!--/.card -->
      </div>
    </section>
