<div class="swiper-container swiper-bg" data-effect="fade" data-margin="0" data-autoplay="true" data-autoplaytime="7000">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="@@webRoot/assets/img/portfolio-photos/ine&joris/5.jpg" alt="" /></div>
      <div class="swiper-slide"><img src="@@webRoot/assets/img/portfolio-photos/ine&joris/1.jpg" alt="" /></div>
      <div class="swiper-slide"><img src="@@webRoot/assets/img/portfolio-photos/ine&joris/2.jpg" alt="" /></div>
      <!-- <div class="swiper-slide"><img src="@@webRoot/assets/img/photos/bg4@@if(context.light){-light}.jpg" alt="" /></div> -->
    </div>
    <!--/.swiper-wrapper -->
  </div>
  <!-- /.swiper -->
</div>
<!-- /.swiper-container -->