<section id="gallery">
      <div class="container pt-7 pb-15">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-3 text-center" data-i18n="galery"></h2>
            <p class="lead mb-10 text-center px-xl-12" data-i18n="galeryIntro">
            </p>
            <div class="grid grid-view">
              <div class="row gx-md-6 gy-6 isotope">
                <div class="item col-md-6 col-xl-4">
                  <figure class="overlay rounded">
                    <a href="@@webRoot/assets/img/portfolio-photos/ine&joris/5.jpg" data-glightbox="title: Ine en joris"
                      data-gallery="g-ine&joris">
                      <img src="@@webRoot/assets/img/portfolio-photos/ine&joris/5.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/ine&joris/5.jpg 2x" alt="" />
                    </a>
                    <figcaption>
                      <h4 class="from-top h6 mb-0">Ine & Joris</h4>
                    </figcaption>
                  </figure>
                  <ul class="d-none">
                    <li><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/1.jpg"
                        data-glightbox="title: Ine en joris" data-gallery="g-ine&joris"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/2.jpg"
                        data-glightbox="title: Ine en joris" data-gallery="g-ine&joris"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/3.jpg"
                        data-glightbox="title: Ine en joris" data-gallery="g-ine&joris"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/4.jpg"
                        data-glightbox="title: Ine en joris" data-gallery="g-ine&joris"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/5.jpg"
                        data-glightbox="title: Ine en joris" data-gallery="g-ine&joris"></a></li>
                  </ul>
                </div>
                <!-- /.item -->
                 <div class="item col-md-6 col-xl-4">
                  <figure class="overlay rounded">
                    <a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A86891.jpg" data-glightbox="title: wedding-2"
                      data-gallery="g-wedding-2">
                      <img src="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A86891.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A86891.jpg 2x" alt="" />
                    </a>
                    <figcaption>
                      <h4 class="from-top h6 mb-0">Wedding-2</h4>
                    </figcaption>
                  </figure>
                  <ul class="d-none">
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A0673.jpg"
                        data-glightbox="title: wedding-2" data-gallery="g-wedding-2"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A1857.jpg"
                        data-glightbox="title: wedding-2" data-gallery="g-wedding-2"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A8295-2.jpg"
                        data-glightbox="title: wedding-2" data-gallery="g-wedding-2"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A8325-2.jpg"
                        data-glightbox="title: wedding-2" data-gallery="g-wedding-2"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A8456.jpg"
                        data-glightbox="title: wedding-2" data-gallery="g-wedding-2"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A8462.jpg"
                        data-glightbox="title: wedding-2" data-gallery="g-wedding-2"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A8527.jpg"
                        data-glightbox="title: wedding-2" data-gallery="g-wedding-2"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A8536-2.jpg"
                        data-glightbox="title: wedding-2" data-gallery="g-wedding-2"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A8536.jpg"
                        data-glightbox="title: wedding-2" data-gallery="g-wedding-2"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A8599.jpg"
                        data-glightbox="title: wedding-2" data-gallery="g-wedding-2"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A18561.1.jpg"
                        data-glightbox="title: wedding-2" data-gallery="g-wedding-2"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A84561.jpg"
                        data-glightbox="title: wedding-2" data-gallery="g-wedding-2"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-2/0F9A85991.jpg"
                        data-glightbox="title: wedding-2" data-gallery="g-wedding-2"></a></li>
                  </ul>
                </div>
                <!-- /.item -->
                 <div class="item col-md-6 col-xl-4">
                  <figure class="overlay rounded">
                    <a href="@@webRoot/assets/img/portfolio-photos/wedding-3/0F9A2310.jpg" data-glightbox="title: wedding-3"
                      data-gallery="g-wedding-3">
                      <img src="@@webRoot/assets/img/portfolio-photos/wedding-3/0F9A2310.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/wedding-3/0F9A2310.jpg 2x" alt="" />
                    </a>
                    <figcaption>
                      <h4 class="from-top h6 mb-0">Wedding-3</h4>
                    </figcaption>
                  </figure>
                  <ul class="d-none">
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-3/0F9A2201.jpg"
                        data-glightbox="title: wedding-3" data-gallery="g-wedding-3"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-3/0F9A2402.jpg"
                        data-glightbox="title: wedding-3" data-gallery="g-wedding-3"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-3/0F9A3186.jpg"
                        data-glightbox="title: wedding-3" data-gallery="g-wedding-3"></a></li>
                  </ul>
                </div>
                <!-- /.item -->
                 <div class="item col-md-6 col-xl-4">
                  <figure class="overlay rounded">
                    <a href="@@webRoot/assets/img/portfolio-photos/wedding-4/0F9A18561.1.jpg" data-glightbox="title: wedding-4"
                      data-gallery="g-wedding-4">
                      <img src="@@webRoot/assets/img/portfolio-photos/wedding-4/0F9A18561.1.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/wedding-4/0F9A18561.1.jpg 2x" alt="" />
                    </a>
                    <figcaption>
                      <h4 class="from-top h6 mb-0">Wedding-4</h4>
                    </figcaption>
                  </figure>
                  <ul class="d-none">
                    <li><a href="@@webRoot/assets/img/portfolio-photos/wedding-4/0F9A1857.jpg"
                        data-glightbox="title: wedding-4" data-gallery="g-wedding-4"></a></li>
                  </ul>
                </div>
                <!-- /.item -->
                <!-- <div class="item col-md-6 col-xl-4">
                  <figure class="overlay rounded">
                    <a href="@@webRoot/assets/img/photos/au1.jpg" data-glightbox="title: Australia"
                      data-gallery="g-australia">
                      <img src="@@webRoot/assets/img/photos/au-th.jpg"
                        srcset="@@webRoot/assets/img/photos/au-th@2x.jpg 2x" alt="" />
                    </a>
                    <figcaption>
                      <h4 class="from-top h6 mb-0">Australia</h4>
                    </figcaption>
                  </figure>
                  <ul class="d-none">
                    <li><a href="@@webRoot/assets/img/photos/au2.jpg" data-glightbox="title: Australia"
                        data-gallery="g-australia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/au3.jpg" data-glightbox="title: Australia"
                        data-gallery="g-australia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/au4.jpg" data-glightbox="title: Australia"
                        data-gallery="g-australia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/au5.jpg" data-glightbox="title: Australia"
                        data-gallery="g-australia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/au6.jpg" data-glightbox="title: Australia"
                        data-gallery="g-australia"></a></li>
                  </ul>
                </div> -->
                <!-- /.item -->
                
              </div>
              <!-- /.row -->
            </div>
            <!-- /.grid -->
          </div>
          <!--/.card-body -->
        </div>
        <!--/.card -->
      </div>
    </section>