<section id="gallery">
      <div class="container pt-7 pb-15">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-3 text-center">Galerij</h2>
            <p class="lead mb-10 text-center px-xl-12">Enkele van de mooiste bruiloften waar wij deel van mochten zijn.
            </p>
            <div class="grid grid-view">
              <div class="row gx-md-6 gy-6 isotope">
                <div class="item col-md-6 col-xl-4">
                  <figure class="overlay rounded">
                    <a href="@@webRoot/assets/img/portfolio-photos/ine&joris/5.jpg" data-glightbox="title: Ine en joris"
                      data-gallery="g-ine&joris">
                      <img src="@@webRoot/assets/img/portfolio-photos/ine&joris/5.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/ine&joris/5.jpg 2x" alt="" />
                    </a>
                    <figcaption>
                      <h4 class="from-top h6 mb-0">Ine en Joris</h4>
                    </figcaption>
                  </figure>
                  <ul class="d-none">
                    <li><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/1.jpg"
                        data-glightbox="title: Ine en joris" data-gallery="g-ine&joris"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/2.jpg"
                        data-glightbox="title: Ine en joris" data-gallery="g-ine&joris"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/3.jpg"
                        data-glightbox="title: Ine en joris" data-gallery="g-ine&joris"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/4.jpg"
                        data-glightbox="title: Ine en joris" data-gallery="g-ine&joris"></a></li>
                    <li><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/5.jpg"
                        data-glightbox="title: Ine en joris" data-gallery="g-ine&joris"></a></li>
                  </ul>
                </div>
                <!-- /.item -->
                <div class="item col-md-6 col-xl-4">
                  <figure class="overlay rounded">
                    <a href="@@webRoot/assets/img/photos/au1.jpg" data-glightbox="title: Australia"
                      data-gallery="g-australia">
                      <img src="@@webRoot/assets/img/photos/au-th.jpg"
                        srcset="@@webRoot/assets/img/photos/au-th@2x.jpg 2x" alt="" />
                    </a>
                    <figcaption>
                      <h4 class="from-top h6 mb-0">Australia</h4>
                    </figcaption>
                  </figure>
                  <ul class="d-none">
                    <li><a href="@@webRoot/assets/img/photos/au2.jpg" data-glightbox="title: Australia"
                        data-gallery="g-australia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/au3.jpg" data-glightbox="title: Australia"
                        data-gallery="g-australia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/au4.jpg" data-glightbox="title: Australia"
                        data-gallery="g-australia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/au5.jpg" data-glightbox="title: Australia"
                        data-gallery="g-australia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/au6.jpg" data-glightbox="title: Australia"
                        data-gallery="g-australia"></a></li>
                  </ul>
                </div>
                <!-- /.item -->
                <div class="item col-md-6 col-xl-4">
                  <figure class="overlay rounded">
                    <a href="@@webRoot/assets/img/photos/eg1.jpg" data-glightbox="title: Egypt" data-gallery="g-egypt">
                      <img src="@@webRoot/assets/img/photos/eg-th.jpg"
                        srcset="@@webRoot/assets/img/photos/eg-th@2x.jpg 2x" alt="" />
                    </a>
                    <figcaption>
                      <h4 class="from-top h6 mb-0">Egypt</h4>
                    </figcaption>
                  </figure>
                  <ul class="d-none">
                    <li><a href="@@webRoot/assets/img/photos/eg2.jpg" data-glightbox="title: Egypt"
                        data-gallery="g-egypt"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/eg3.jpg" data-glightbox="title: Egypt"
                        data-gallery="g-egypt"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/eg4.jpg" data-glightbox="title: Egypt"
                        data-gallery="g-egypt"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/eg5.jpg" data-glightbox="title: Egypt"
                        data-gallery="g-egypt"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/eg6.jpg" data-glightbox="title: Egypt"
                        data-gallery="g-egypt"></a></li>
                  </ul>
                </div>
                <!-- /.item -->
                <div class="item col-md-6 col-xl-4">
                  <figure class="overlay rounded">
                    <a href="@@webRoot/assets/img/photos/sc1.jpg" data-glightbox="title: Scandinavia"
                      data-gallery="g-scandinavia">
                      <img src="@@webRoot/assets/img/photos/sc-th.jpg"
                        srcset="@@webRoot/assets/img/photos/sc-th@2x.jpg 2x" alt="" />
                    </a>
                    <figcaption>
                      <h4 class="from-top h6 mb-0">Scandinavia</h4>
                    </figcaption>
                  </figure>
                  <ul class="d-none">
                    <li><a href="@@webRoot/assets/img/photos/sc2.jpg" data-glightbox="title: Scandinavia"
                        data-gallery="g-scandinavia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/sc3.jpg" data-glightbox="title: Scandinavia"
                        data-gallery="g-scandinavia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/sc4.jpg" data-glightbox="title: Scandinavia"
                        data-gallery="g-scandinavia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/sc5.jpg" data-glightbox="title: Scandinavia"
                        data-gallery="g-scandinavia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/sc6.jpg" data-glightbox="title: Scandinavia"
                        data-gallery="g-scandinavia"></a></li>
                  </ul>
                </div>
                <!-- /.item -->
                <div class="item col-md-6 col-xl-4">
                  <figure class="overlay rounded">
                    <a href="@@webRoot/assets/img/photos/aa1.jpg" data-glightbox="title: Anatolia"
                      data-gallery="g-anatolia">
                      <img src="@@webRoot/assets/img/photos/aa-th.jpg"
                        srcset="@@webRoot/assets/img/photos/aa-th@2x.jpg 2x" alt="" />
                    </a>
                    <figcaption>
                      <h4 class="from-top h6 mb-0">Anatolia</h4>
                    </figcaption>
                  </figure>
                  <ul class="d-none">
                    <li><a href="@@webRoot/assets/img/photos/aa2.jpg" data-glightbox="title: Anatolia"
                        data-gallery="g-anatolia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/aa3.jpg" data-glightbox="title: Anatolia"
                        data-gallery="g-anatolia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/aa4.jpg" data-glightbox="title: Anatolia"
                        data-gallery="g-anatolia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/aa5.jpg" data-glightbox="title: Anatolia"
                        data-gallery="g-anatolia"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/aa6.jpg" data-glightbox="title: Anatolia"
                        data-gallery="g-anatolia"></a></li>
                  </ul>
                </div>
                <!-- /.item -->
                <div class="item col-md-6 col-xl-4">
                  <figure class="overlay rounded">
                    <a href="@@webRoot/assets/img/photos/br1.jpg" data-glightbox="title: Brazil"
                      data-gallery="g-brazil">
                      <img src="@@webRoot/assets/img/photos/br-th.jpg"
                        srcset="@@webRoot/assets/img/photos/br-th@2x.jpg 2x" alt="" />
                    </a>
                    <figcaption>
                      <h4 class="from-top h6 mb-0">Brazil</h4>
                    </figcaption>
                  </figure>
                  <ul class="d-none">
                    <li><a href="@@webRoot/assets/img/photos/br2.jpg" data-glightbox="title: Brazil"
                        data-gallery="g-brazil"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/br3.jpg" data-glightbox="title: Brazil"
                        data-gallery="g-brazil"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/br4.jpg" data-glightbox="title: Brazil"
                        data-gallery="g-brazil"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/br5.jpg" data-glightbox="title: Brazil"
                        data-gallery="g-brazil"></a></li>
                    <li><a href="@@webRoot/assets/img/photos/br6.jpg" data-glightbox="title: Brazil"
                        data-gallery="g-brazil"></a></li>
                  </ul>
                </div>
                <!-- /.item -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.grid -->
          </div>
          <!--/.card-body -->
        </div>
        <!--/.card -->
      </div>
    </section>