<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Daan Jansen Photography makes beautiful photos of people and animals. With a focus on natural light and candid moments, Daan creates timeless images that capture the essence of his subjects. Whether it's a family portrait, a pet photo shoot, or a special event, Daan's photography is all about creating memories that will last a lifetime. With a passion for storytelling and an eye for detail, Daan Jansen Photography is the perfect choice for anyone looking to capture life's most precious moments.">
<meta name="keywords" content="Daan Jansen Photography, Daan Jansen Fotografie, photography, fotografie, photos, foto's, portraits, portretten, animals, dieren, natural light, natuurlijk licht, candid moments, spontane momenten, timeless images, tijdloze beelden, family portrait, familieportret, pet photo shoot, fotoshoot met huisdieren, special event, speciale gebeurtenis, memories, herinneringen">
<meta name="author" content="Lotte Jansen">
<title>Daan Jansen Fotografie</title>
<link rel="shortcut icon" href="@@webRoot/assets/img/logo-djf/favicon/favicon-32x32.png">
<link rel="stylesheet" href="@@webRoot/assets/css/plugins.css">
<link rel="stylesheet" href="@@webRoot/assets/css/style@@if(context.light){-light}.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
