    <section id="portfolio">
      <div class="container pt-7 pb-15">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-7 mx-auto">
                <h2 class="mb-3 text-center" data-i18n="portfolioTitle"></h2>
                <p class="lead mb-10 text-center px-xxl-12" data-i18n="portfolioIntro">
                </p>
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="grid grid-view">
              <div class="isotope-filter filter mb-8 text-center">
                <ul>
                  <li><a class="filter-item active" data-filter="*" data-i18n="all"></a></li>
                  <li><a class="filter-item" data-filter=".shoots" data-i18n="shoots"></a></li>
                  <li><a class="filter-item" data-filter=".ceremony" data-i18n="ceremony"></a></li>
                  <li><a class="filter-item" data-filter=".party" data-i18n="party"></a></li>
                  <li><a class="filter-item" data-filter=".other" data-i18n="otherAdventures"></a></li>
                </ul>
              </div>
              <div class="row gx-md-6 gy-6 isotope">
                <div class="item col-md-6 col-xl-4 shoots">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/ 1.jpg"
                      data-glightbox="title: Ine & Joris; description: Een huwelijk om nooit te vergeten."
                      data-gallery="g-portfolio"> <img src="@@webRoot/assets/img/portfolio-photos/ine&joris/ 1.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/ine&joris/ 1.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
                <div class="item col-md-6 col-xl-4 shoots">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/2.jpg"
                      data-glightbox="title: Ine & Joris" data-gallery="g-portfolio"> <img
                        src="@@webRoot/assets/img/portfolio-photos/ine&joris/2.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/ine&joris/2.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
                <div class="item col-md-6 col-xl-4 shoots">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/3.jpg"
                      data-glightbox="title: Ine & Joris" data-gallery="g-portfolio"> <img src="@@webRoot/assets/img/portfolio-photos/ine&joris/3.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/ine&joris/3.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
                <div class="item col-md-6 col-xl-4 shoots">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/4.jpg"
                      data-glightbox="title: Ine & Joris" data-gallery="g-portfolio"> <img src="@@webRoot/assets/img/portfolio-photos/ine&joris/4.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/ine&joris/4.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
                <div class="item col-md-6 col-xl-4 shoots">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/5.jpg"
                      data-glightbox="title: Ine & Joris" data-gallery="g-portfolio"> <img src="@@webRoot/assets/img/portfolio-photos/ine&joris/5.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/ine&joris/5.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
                <div class="item col-md-6 col-xl-4 shoots">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/6.jpg"
                      data-glightbox="title: Ine & Joris" data-gallery="g-portfolio"> <img src="@@webRoot/assets/img/portfolio-photos/ine&joris/6.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/ine&joris/6.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
                 <div class="item col-md-6 col-xl-4 shoots">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/ine&joris/1A2A7656.jpg"
                      data-glightbox="title: Ine & Joris" data-gallery="g-portfolio"> <img src="@@webRoot/assets/img/portfolio-photos/ine&joris/1A2A7656.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/ine&joris/1A2A7656.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
                 <div class="item col-md-6 col-xl-4 ceremony">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A5922.jpg"
                      data-glightbox data-gallery="g-portfolio"> <img src="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A5922.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A5922.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
                 <div class="item col-md-6 col-xl-4 ceremony">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6003.jpg"
                      data-glightbox data-gallery="g-portfolio"> <img src="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6003.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6003.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
                 <div class="item col-md-6 col-xl-4 ceremony">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6037.jpg"
                      data-glightbox data-gallery="g-portfolio"> <img src="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6037.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6037.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
                 <div class="item col-md-6 col-xl-4 shoots">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6309.jpg"
                      data-glightbox data-gallery="g-portfolio"> <img src="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6309.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6309.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
                 <div class="item col-md-6 col-xl-4 shoots">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6323.jpg"
                      data-glightbox data-gallery="g-portfolio"> <img src="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6323.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6323.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
                 <div class="item col-md-6 col-xl-4 shoots">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6329.jpg"
                      data-glightbox data-gallery="g-portfolio"> <img src="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6329.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6329.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
                 <div class="item col-md-6 col-xl-4 shoots">
                  <figure class="overlay rounded"><a href="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6340.jpg"
                      data-glightbox data-gallery="g-portfolio"> <img src="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6340.jpg"
                        srcset="@@webRoot/assets/img/portfolio-photos/wedding-1/1A2A6340.jpg 2x" alt="" /></a>
                    <figcaption><i class="si-photo_aperture"></i></figcaption>
                  </figure>
                </div>
                <!-- /.item -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.grid -->
          </div>
          <!--/.card-body -->
        </div>
        <!--/.card -->
      </div>
    </section>

