<section id="services">
      <div class="container pt-7 pb-15">
        <div class="card">
          <div class="card-body">
            <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
              <div class="col-lg-6 position-relative order-lg-2">
                <div class="overlap-grid overlap-grid-2">
                  <div class="item">
                    <figure class="rounded shadow"><img src="@@webRoot/assets/img/photos/s1.jpg"
                        srcset="@@webRoot/assets/img/photos/s1@2x.jpg 2x" alt=""></figure>
                  </div>
                  <div class="item">
                    <figure class="rounded shadow"><img src="@@webRoot/assets/img/photos/s2.jpg"
                        srcset="@@webRoot/assets/img/photos/s2@2x.jpg 2x" alt=""></figure>
                  </div>
                </div>
              </div>
              <!--/column -->
              <div class="col-lg-6">
                <h2 class="mb-3" data-i18n="services"></h2>
                <p class="lead mb-7" data-i18n="servicesIntro"></p>
                <div class="d-flex flex-row mb-5">
                  <div>
                    <div class="icon fs-44 text-white mt-1 me-5"><i class="si-photo_camera"></i></div>
                  </div>
                  <div>
                    <h3 class="h4 mb-1" data-i18n="photography"></h3>
                    <p class="mb-0" data-i18n="fotographyExplanation"></p> <!--TODO: info aanvullen-->
                  </div>
                </div>
                <div class="d-flex flex-row mb-5">
                  <div>
                    <div class="icon fs-44 text-white mt-1 me-5"><i class="si-photo_camera"></i></div>
                  </div>
                  <div>
                    <h3 class="h4 mb-1" data-i18n="dronePhotography"></h3>
                    <p class="mb-0" data-i18n="droneExplanation"></p>
                  </div>
                </div>
                <div class="d-flex flex-row mb-5">
                  <div>
                    <div class="icon fs-44 text-white mt-1 me-5"><i class="si-photo_camera"></i></div>
                  </div>
                  <div>
                    <h3 class="h4 mb-1" data-i18n="contentCreation"></h3>
                    <p class="mb-0" data-i18n="contentCreationExplanation"></p>
                  </div>
                </div>
                <div class="d-flex flex-row mb-5">
                  <div>
                    <div class="icon fs-44 text-white mt-1 me-5"><i class="si-photo_magic-tools"></i></div>
                  </div>
                  <div>
                    <h3 class="h4 mb-1" data-i18n="retouch"></h3>
                    <p class="mb-0" data-i18n="retouchExplanation"></p>
                  </div>
                </div>
                
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
            <div class="row mt-6">
              <div class="col-lg-4 col-md-6 mb-4 text-center">
                <figure class="overlay rounded shadow">
                  <a href="@@webRoot/assets/img/pricing/classic.jpg"
                    data-glightbox="title: Classic Pakket; description: €950" data-gallery="g-pricing">
                    <img src="@@webRoot/assets/img/pricing/classic.jpg" alt="Classic" class="img-fluid rounded mb-3">
                  </a>
                  <figcaption><i class="si-photo_aperture"></i></figcaption>
                </figure>
                <h5 class="mb-1">Classic</h5>
                <p class="text-muted">€950</p>
              </div>
              <div class="col-lg-4 col-md-6 mb-4 text-center">
                <figure class="overlay rounded shadow">
                  <a href="@@webRoot/assets/img/pricing/medium.jpg"
                    data-glightbox="title: Medium Pakket; description: €1500" data-gallery="g-pricing">
                    <img src="@@webRoot/assets/img/pricing/medium.jpg" alt="Medium" class="img-fluid rounded mb-3">
                  </a>
                  <figcaption><i class="si-photo_aperture"></i></figcaption>
                </figure>
                <h5 class="mb-1">Medium</h5>
                <p class="text-muted">€1500</p>
              </div>
              <div class="col-lg-4 col-md-6 mb-4 text-center">
                <figure class="overlay rounded shadow">
                  <a href="@@webRoot/assets/img/pricing/premium.jpg"
                    data-glightbox="title: Premium Pakket; description: €1800" data-gallery="g-pricing">
                    <img src="@@webRoot/assets/img/pricing/premium.jpg" alt="Premium" class="img-fluid rounded mb-3">
                  </a>
                  <figcaption><i class="si-photo_aperture"></i></figcaption>
                </figure>
                <h5 class="mb-1">Premium</h5>
                <p class="text-muted">€1800</p>
              </div>
            </div>
          </div>
          <!--/.card-body -->
        </div>
        <!--/.card -->
      </div>
    </section>

